<h1>Compare it to Kent's!</h1>

<div class="row">
  <div class="col-md-6">
    <div style="width: 100%; height: 200px; background-color: grey;" class="col-md-6 col-xs-8"></div>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6"
    <p>How do the eateries you've visited compare to Kent's Kitchen? It is the opinion of the world renowned food connoisseur Andrew that Kent's has the best PPT™ of any eatery in Vancouver. </p>
  </div>
  <div class="clearfix"></div>
  <div class="col-md-6">
    <blockquote class="pull-right">
      <p>My life has gotten so much better ever since I put Kent's inside me.</p>
      <small><cite title="Josh">Josh</cite></small>
    </blockquote>
    <blockquote>
      <p>A revolutionary revolutionizing revolution of groundbreakingness.</p>
      <small><cite title="Chris">My Landlord Larry</cite></small>
    </blockquote>
    <blockquote>
      <p>Why would you set the bar so low??</p>
      <small><cite title="Tammam Kbeili">Tam </cite></small>
    </blockquote>
  </div>
  
</div>

