// Place all the styles related to the eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-reviews {
  height: 343px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.comparison {
  max-height: 400px; 
  a {
    color: #bf3e11;
  }
}

.winner {
  outline: none;
  border-color: green;
  box-shadow: 0 0 20px green;
}

.loser {
  opacity: 0.7;
}

.responsive-text {
  font-size: 4.0vh;
}

.smallr {
  font-size: 3.5vh;
}

.fa-search{
  font-family: FontAwesome;
  
}

.fa-search:before {
  content: "\f002";
} 