// Place all the styles related to the eateries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-reviews {
  height: 343px;
}

.comparison {
  max-height: 400px; 
}

.winner {
  outline: none;
  border-color: green;
  box-shadow: 0 0 20px green;
}

.loser {
  opacity: 0.7;
}

.responsive-text {
  font-size: 3.0vh;
}

.smallr {
  font-size: 2.0vh;
}