<div class="row" style="min-height:75px;">
  <% if review.user.verified? %>
    <div class="col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3 verify-badge">
    <%= image_tag("https://s3.amazonaws.com/compare-to-kents/pictures/red-checkmark.png") %>
    </div>
  <% else %>
    <div class="col-xs-offset-7 col-xs-5 col-sm-offset-7 col-sm-5">
      <div class="not-verified text-center">NOT VERIFIED</div>
    </div>
  <% end %>
</div>